$secondaryColor1: #367736;
$secondaryColor2: #c7c56c;
$navList: #184718;
$nav: #44a344;

@import 'navbar';

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    overflow: hidden;
}
.clip{
    clip-path: ellipse(100% 74% at 16% 100%);
    position: fixed;
    bottom: 0;
    right:0;
    width: 100%;
    height: 65%;
    background-image: url('Assets/pexels-johannes-plenio-1632790.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #367736;
    background-blend-mode: hard-light;
   
}

.clip2{
    clip-path: ellipse(33% 24% at 11% 100%);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 300px;
    height: 260px;
    background: white;
}

.logo{
    background: linear-gradient(to bottom left, $secondaryColor2, $secondaryColor1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    position: fixed;
    top: 16px;
    right: 14px;
    margin:0;
}

.content{
    width: 50%;
    max-width: 500px;
    position: absolute;
    top: 100px;
    right: 20px;
    padding: 22px  40px;
    height: 250px;

    ul{
        padding:0;
    }

    .slide{
        text-align: center;
        display: none;
        font-size: 1.4rem;
        color: #222;
        position: relative;
        
        .title{
            font-size: 2rem;
        }
    }
    .markerBox{
        position: absolute;
        left: 50%;
        margin-left: -50px;
        top: 65%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 4rem;
        width: 100px;

        .marker{
            color: gray;
        }

        .markActive{
            transform: scale(1.3) translateY(-4px);
            color: black;
        }
    }
    .arrow{
        position: absolute;
        background: transparent;
        outline: none;
        border: none;
        color: $secondaryColor2;
        font-size: 2.4rem;
        transform: scaleY(1.5);
    }

    .next{
        top:100px;
        right: 0;
        color:$secondaryColor1;

    }

    .prev{
        top: 100px;
        left:0;
    }
    

    .active{
        display: block;   
    }

    .showNext{

        animation: showNext .5s forwards;
    }

    .showPrev{
        animation: showPrev .5s forwards; 
    }
}

.copyright{
    position: absolute;
    bottom: 5px;
    left: 20px;
    font-size: 1rem;
}
@keyframes showNext {
    0%{
        opacity: 0;
        transform: translateX(20px);
    }

    100%{
        opacity: 100;
        transform: translateX(0);
    }
}

@keyframes showPrev{
    0%{
        transform: translateX(-20px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 100;
    }
}

@media (min-width: 1024px){
    .clip{
        clip-path: ellipse(67% 100% at 100% 50%);
        right: 0;
        top: 0;
        height: 100%;
        width: 70%;
    }

    .clip2{
        clip-path: ellipse(67% 62% at 100% 50%);
        height: 100%;
        width: 25%;
        left: auto;
        right: 0;
        transform: translateX(30%);
    }

    .content{
        left: 40px;
        top: 30%;
    }

    .logo{
        left: 20px;
        width: fit-content;
    }
}
