nav {
  -webkit-transition: z-index .5s;
  transition: z-index .5s;
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
}

nav button {
  position: absolute;
  top: 6px;
  left: 10px;
  z-index: 1000;
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
}

nav button .topLine, nav button .middleLine, nav button .bottomLine {
  position: relative;
  display: block;
  background: #6200ff;
  mix-blend-mode: hue;
  width: 40px;
  height: 5px;
  border-radius: 12px;
  -webkit-transition: all cubic-bezier(0.2, 0.2, 0.3, 1.6) 0.4s 0.05s;
  transition: all cubic-bezier(0.2, 0.2, 0.3, 1.6) 0.4s 0.05s;
}

nav button .topLine {
  bottom: 8px;
}

nav button .bottomLine {
  bottom: -8px;
}

nav ul {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transform-origin: left;
          transform-origin: left;
  background: #333;
  width: 200%;
  height: 99vh;
  list-style: none;
  margin-top: 0;
  padding: 0;
  padding-top: 100px;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
}

nav ul li {
  margin-left: 0;
  position: relative;
}

nav ul li a {
  padding: 20px 12%;
  display: block;
  font-size: 2rem;
  color: #6200ff;
  text-decoration: none;
}

.reveal ul {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-box-shadow: 0px 2px 8px #333;
          box-shadow: 0px 2px 8px #333;
}

.reveal .close .topLine {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: -5px;
}

.reveal .close .bottomLine {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 5px;
}

.reveal .close .middleLine {
  opacity: 0;
}

.overlay {
  z-index: 100;
}

@media (min-width: 1024px) {
  nav button {
    display: none;
  }
  nav ul {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    background: transparent;
    border: none;
    width: 300px;
  }
  nav ul li {
    margin: 8px;
    width: 120px;
  }
  nav ul li:hover {
    background: transparent;
  }
  nav ul li a {
    padding: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: none;
  }
  nav ul li a::after {
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #6200ff;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  nav ul li a:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  overflow: hidden;
}

.clip {
  -webkit-clip-path: ellipse(100% 74% at 16% 100%);
          clip-path: ellipse(100% 74% at 16% 100%);
  -webkit-transform: translateZ(1);
          transform: translateZ(1);
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 65%;
  background: -webkit-gradient(linear, left top, right bottom, from(#5a12df), to(#f58c29));
  background: linear-gradient(to bottom right, #5a12df, #f58c29);
}

.clip2 {
  display: none;
  -webkit-clip-path: ellipse(100% 100% at 0% 100%);
          clip-path: ellipse(100% 100% at 0% 100%);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background: white;
}

h3 {
  color: #6200ff;
  font-size: 3rem;
  position: fixed;
  top: 16px;
  right: 14px;
  margin: 0;
}

.content {
  width: 50%;
  max-width: 500px;
  position: absolute;
  top: 100px;
  right: 20px;
  padding: 22px  40px;
  height: 250px;
}

.content ul {
  padding: 0;
}

.content .slide {
  text-align: center;
  display: none;
  font-size: 1.4rem;
  color: #222;
  mix-blend-mode: color-burn;
  position: relative;
}

.content .slide .title {
  font-size: 2rem;
}

.content .markerBox {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4rem;
  width: 100px;
}

.content .markerBox .marker {
  color: gray;
}

.content .markerBox .markActive {
  -webkit-transform: scale(1.3) translateY(-4px);
          transform: scale(1.3) translateY(-4px);
  color: black;
}

.content .arrow {
  position: absolute;
  background: transparent;
  outline: none;
  border: none;
  color: #f58c29;
  font-size: 2.4rem;
}

.content .next {
  top: 100px;
  right: 0;
}

.content .prev {
  top: 100px;
  left: 0;
}

.content .active {
  display: block;
}

.content .showNext {
  -webkit-animation: showNext .5s forwards;
          animation: showNext .5s forwards;
}

.content .showPrev {
  -webkit-animation: showPrev .5s forwards;
          animation: showPrev .5s forwards;
}

@-webkit-keyframes showNext {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 100;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes showNext {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 100;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes showPrev {
  0% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 100;
  }
}

@keyframes showPrev {
  0% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 100;
  }
}
/*# sourceMappingURL=styles.css.map */