@import url("https://fonts.googleapis.com/css2?family=KoHo&display=swap");
nav {
  -webkit-transition: z-index .5s;
  transition: z-index .5s;
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
}

nav .navButton {
  position: absolute;
  top: 6px;
  left: 10px;
  z-index: 100;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  outline: none;
}

nav .navButton .topLine, nav .navButton .middleLine, nav .navButton .bottomLine {
  background: -webkit-gradient(linear, right top, left top, from(#c7c56c), to(#367736));
  background: linear-gradient(to left, #c7c56c, #367736);
  -webkit-background-clip: content-box;
  -webkit-text-fill-color: transparent;
  position: relative;
  display: block;
  width: 40px;
  height: 5px;
  border-radius: 50px;
  -webkit-transition: all cubic-bezier(0.2, 0.2, 0.3, 1.5) 0.4s 0.05s;
  transition: all cubic-bezier(0.2, 0.2, 0.3, 1.5) 0.4s 0.05s;
}

nav .navButton .topLine {
  bottom: 8px;
}

nav .navButton .bottomLine {
  bottom: -8px;
}

nav ul {
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
  -webkit-transform-origin: left;
          transform-origin: left;
  background: #184718;
  width: 200%;
  height: 99vh;
  list-style: none;
  margin-top: 0;
  padding: 0;
  padding-top: 100px;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
}

nav ul li {
  margin-left: 0;
  position: relative;
}

nav ul li a {
  padding: 20px 12%;
  display: block;
  font-size: 2rem;
  color: #eee;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .reveal ul {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-box-shadow: 0px 2px 8px #184718;
            box-shadow: 0px 2px 8px #184718;
  }
  .reveal .close .topLine {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: -5px;
  }
  .reveal .close .bottomLine {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 5px;
  }
  .reveal .close .middleLine {
    opacity: 0;
  }
}

.overlay {
  z-index: 100;
}

@media (orientation: landscape) {
  nav ul {
    padding-top: 40px;
  }
}

@media (min-width: 1024px) {
  nav {
    height: 80px;
    z-index: 100;
  }
  nav button {
    display: none;
  }
  nav ul {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    background: transparent;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 5px;
    padding-left: 160px;
  }
  nav ul li {
    margin: 8px;
    height: 40px;
  }
  nav ul li a {
    font-size: 1.8rem;
    padding: 10px;
    color: #444;
    border-radius: 100px;
  }
  nav ul li a:hover {
    color: #000;
  }
  nav ul li .navActive {
    font-weight: bold;
    color: #000;
  }
  nav ul li .navActive::after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background: -webkit-gradient(linear, left top, right top, from(#367736), to(#c7c56c));
    background: linear-gradient(to right, #367736, #c7c56c);
  }
}

html {
  font-size: 62.5%;
  font-family: 'KoHo', sans-serif;
  background-color: #eee;
}

button {
  cursor: pointer;
}

.clip {
  -webkit-clip-path: ellipse(100% 74% at 16% 100%);
          clip-path: ellipse(100% 74% at 16% 100%);
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 65%;
  background-image: url("Assets/pexels-johannes-plenio-1632790.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #367736;
  background-blend-mode: hard-light;
}

.clip2 {
  -webkit-clip-path: ellipse(33% 24% at 11% 100%);
          clip-path: ellipse(33% 24% at 11% 100%);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  height: 260px;
  background: #eee;
}

.logo {
  background: -webkit-gradient(linear, right top, left bottom, from(#c7c56c), to(#367736));
  background: linear-gradient(to bottom left, #c7c56c, #367736);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  position: fixed;
  top: 10px;
  right: 14px;
  margin: 0;
}

.content {
  width: 50%;
  max-width: 450px;
  position: absolute;
  top: 100px;
  right: 20px;
  padding: 22px  40px;
  height: 250px;
}

.content ul {
  padding: 0;
}

.content .slide {
  text-align: center;
  display: none;
  font-size: 1.4rem;
  position: relative;
}

.content .slide .title {
  font-size: 2rem;
}

.content .markerBox {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4rem;
  width: 100px;
}

.content .markerBox .marker {
  color: gray;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.content .markerBox .markActive {
  -webkit-transform: scale(1.3) translateY(-4px);
          transform: scale(1.3) translateY(-4px);
  color: black;
}

.content .arrow {
  position: absolute;
  background: transparent;
  outline: none;
  border: none;
  font-size: 2.4rem;
  -webkit-transform: scaleY(1.5);
          transform: scaleY(1.5);
}

.content .next {
  top: 100px;
  right: 0;
  color: #367736;
}

.content .prev {
  top: 100px;
  left: 0;
  color: #c7c56c;
}

.content .active {
  display: block;
}

.content .showNext {
  -webkit-animation: showNext .5s forwards;
          animation: showNext .5s forwards;
}

.content .showPrev {
  -webkit-animation: showPrev .5s forwards;
          animation: showPrev .5s forwards;
}

.copyright {
  position: absolute;
  bottom: 5px;
  left: 20px;
  font-size: 1rem;
}

@-webkit-keyframes showNext {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 100;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes showNext {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 100;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes showPrev {
  0% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 100;
  }
}

@keyframes showPrev {
  0% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 100;
  }
}

@media (orientation: landscape) {
  .clip {
    -webkit-clip-path: ellipse(98% 100% at 100% 18%);
            clip-path: ellipse(98% 100% at 100% 18%);
    right: 0;
    top: 0;
    height: 100%;
    width: 44%;
  }
  .clip2 {
    -webkit-clip-path: ellipse(35% 45% at 100% 0%);
            clip-path: ellipse(35% 45% at 100% 0%);
    height: 100%;
    width: 50%;
    left: auto;
    right: 0;
    top: 0;
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  .content {
    left: 20px;
    top: 15%;
    width: 40%;
  }
  .logo {
    font-size: 2.8rem;
    right: 4px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media (min-width: 1024px) {
  .clip {
    -webkit-clip-path: ellipse(98% 100% at 100% 18%);
            clip-path: ellipse(98% 100% at 100% 18%);
    right: 0;
    top: 0;
    height: 100%;
    width: 44%;
  }
  .clip2 {
    -webkit-clip-path: ellipse(35% 45% at 100% 0%);
            clip-path: ellipse(35% 45% at 100% 0%);
    height: 100%;
    width: 40%;
    left: auto;
    right: 0;
    top: 0;
    -webkit-transform: translateX(8%);
            transform: translateX(8%);
  }
  .content {
    left: 50px;
    top: 30%;
    width: 50%;
  }
  .logo {
    font-size: 3.2rem;
    left: 20px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media (max-width: 320px) {
  .content {
    width: 70%;
    right: 2px;
  }
  .content .marker {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */