// declaring variables
$secondaryColor1: #367736;
$secondaryColor2: #c7c56c;

// adding the navbar to the page
@import 'navbar';

//adding google font
@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');

//root font-size (1rem = 10px) and background color
html{
    font-size: 62.5%;
    font-family: 'KoHo', sans-serif;
    background-color: #eee;
}

//making the cursor change when on a button.
button{
    cursor: pointer;
}

// the circular tree picture 
.clip{
    clip-path: ellipse(100% 74% at 16% 100%);
    position: fixed;
    bottom: 0;
    right:0;
    width: 100%;
    height: 65%;
    background-image: url('Assets/pexels-johannes-plenio-1632790.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    // adding a green color to the original photo to make it fit the colors of the page.
    background-color: #367736;
    background-blend-mode: hard-light;
}

// a smaller circle that acts as the normal background to give a bow-like shape to the photo
.clip2{
    clip-path: ellipse(33% 24% at 11% 100%);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 300px;
    height: 260px;
    background: #eee;
}

.logo{
    font-size: 3rem;
    position: fixed;
    top: 10px;
    right: 14px;
    margin:0;

    //adding gradients to the text itself.
    background: linear-gradient(to bottom left, $secondaryColor2, $secondaryColor1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content{
    width: 50%;

    // max width to make reading easier on big screens.
    max-width: 450px;
    
    position: absolute;
    top: 100px;
    right: 20px;
    padding: 22px  40px;
    height: 250px;

    ul{
        // removing the default padding ul lists add
        padding:0;
    }

    .slide{
        text-align: center;
        display: none;
        font-size: 1.4rem;
        position: relative;
        
        .title{
            font-size: 2rem;
        }
    }

    .markerBox{
        position: absolute;
        // centering it
        left: 50%;
        margin-left: -50px;

        top: 65%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 4rem;
        width: 100px;

        .marker{
            color: gray;
            user-select: none;
        }

        .markActive{
            // making the active marker bigger and darker to know which slide the user is on.
            transform: scale(1.3) translateY(-4px);
            color: black;
        }
    }

    //arrows used to scroll throgh the slides
    .arrow{
        position: absolute;
        background: transparent;
        outline: none;
        border: none;
        font-size: 2.4rem;
        transform: scaleY(1.5);
    }

    .next{
        //positioning the next arrow to the right
        top:100px;
        right: 0;

        color:$secondaryColor1;
    }

    .prev{
        //positioning the prev arrow to the left
        top: 100px;
        left:0;

        color: $secondaryColor2;
    }
    
    .active{
        //showing the active slider
        display: block;
    }

    // animations for scrolling through the slides
    .showNext{
        animation: showNext .5s forwards;
    }
    .showPrev{
        animation: showPrev .5s forwards; 
    }
}

.copyright{
    position: absolute;
    bottom: 5px;
    left: 20px;
    font-size: 1rem;
}


// making the slide animations, a simple fading in from the left and right ----------------------------
@keyframes showNext {
    0%{
        opacity: 0;
        transform: translateX(20px);
    }

    100%{
        opacity: 100;
        transform: translateX(0);
    }
}

@keyframes showPrev{
    0%{
        transform: translateX(-20px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 100;
    }
}

//on landscape (width > height), helps when using phones horizontally -----------------------------------
@media(orientation: landscape){
    .clip{
        clip-path: ellipse(98% 100% at 100% 18%);
        right: 0;
        top: 0;
        height: 100%;
        width: 44%;
    }

    .clip2{
        clip-path: ellipse(35% 45% at 100% 0%);
        height: 100%;
        width: 50%;
        left: auto;
        right: 0;
        top:0;
        transform: translateX(5%);
    }

    .content{
        left: 20px;
        top: 15%;
        width: 40%;
    }

    .logo{
        font-size: 2.8rem;
        right: 4px;
        width: fit-content;
    }
}

// on bigger screens -------------------------------------------------------------------------
@media (min-width: 1024px){

    //changing Clip, Clip2, Content, and Logo positions
    .clip{
        clip-path: ellipse(98% 100% at 100% 18%);
        right: 0;
        top: 0;
        height: 100%;
        width: 44%;

    }

    .clip2{
        clip-path: ellipse(35% 45% at 100% 0%);
        height: 100%;
        width: 40%;
        left: auto;
        right: 0;
        top:0;
        transform: translateX(8%);
    }

    .content{
        left: 50px;
        top: 30%;
        width: 50%;
    }

    .logo{
        font-size: 3.2rem;
        left: 20px;
        width: fit-content;
    }
}

// for really narrow screens (z-fold & older phones) ----------------------------------------------------------------
@media(max-width: 320px){
    .content{
        width: 70%;
        right: 2px;
    
        .marker{
            display: none;
        }      
}
}